html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: black;
  color: white; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

a {
  display: block; }

body {
  font-size: 16px;
  font-family: "Noto Sans";
  line-height: 1.05; }

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  position: relative; }

.header {
  width: 100%;
  height: 56px;
  background-color: #223ebe;
  position: relative; }
  @media (max-width: 568px) {
    .header {
      position: fixed;
      z-index: 100; } }
  .header h1 {
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block; }
    .header h1 img {
      width: 120px;
      height: 24px;
      float: left;
      margin-left: 42px;
      margin-top: 16px; }
  .header .menu {
    float: right;
    font-size: 20px;
    margin-top: 18px;
    margin-right: 18px; }
    @media (max-width: 568px) {
      .header .menu {
        float: none;
        position: fixed;
        width: 100%;
        top: 38px;
        z-index: 100; } }
    .header .menu li {
      float: left;
      margin-right: 30px; }
      @media (max-width: 568px) {
        .header .menu li {
          width: 100%;
          margin-right: 0;
          float: none;
          z-index: 10;
          padding: 15px;
          background-color: #050505;
          background-color: rgba(5, 5, 5, 0.85);
          border-bottom: 1px solid #969696; }
          .header .menu li:hover {
            background-color: rgba(240, 168, 12, 0.8); } }
  .header #mobileMenu {
    color: #FFFFFF;
    display: none;
    float: right;
    margin: 14px;
    font-size: 25px; }
    .header #mobileMenu {
      text-decoration: none; }
      .header #mobileMenu:hover {
        color: #eba204; }
    @media (max-width: 568px) {
      .header #mobileMenu {
        display: block; } }

.banner {
  background-image: url("../imgs/header_desktop@2x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 364px;
  text-align: center;
  position: relative; }
  @media (max-width: 568px) {
    .banner {
      background-image: url("../imgs/header_mobile@2x.png");
      background-position: 0 0;
      background-repeat: no-repeat; } }
  .banner .bannerText {
    display: inline-block;
    width: 45%;
    min-width: 326px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.35);
    margin-top: 110px; }
    @media (max-width: 414px) {
      .banner .bannerText {
        width: 100%; } }
    @media (max-width: 374px) {
      .banner .bannerText {
        min-width: 0; } }
    .banner .bannerText strong {
      font-size: 25px;
      display: block;
      margin-bottom: 16px; }
    .banner .bannerText p {
      font-size: 18px;
      margin-bottom: 5px; }

.footer {
  position: relative;
  line-height: 1.4;
  color: #3D1101;
  font-size: 14px;
  letter-spacing: 1px;
  height: 165px;
  background: #CCCCCC; }
  @media (max-width: 374px) {
    .footer {
      height: auto;
      text-align: center;
      width: 100%;
      padding: 2%; } }
  .footer .about {
    float: left;
    width: 150px;
    margin: 26px 0 0 20px; }
    @media (max-width: 567px) {
      .footer .about {
        display: none; } }
    .footer .about h3 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px; }
  .footer .contact {
    float: left;
    margin: 26px 5px 0 20px; }
    @media (max-width: 567px) {
      .footer .contact {
        margin-top: 41px; } }
    @media (max-width: 374px) {
      .footer .contact {
        float: none;
        margin: 0;
        width: 100%; } }
    .footer .contact h3 {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px; }
  .footer .footLogo {
    position: absolute;
    top: 35px;
    right: 20px;
    font-weight: 999;
    font-size: 25px;
    font-family: "Noto Sans";
    color: #3D1101; }
    @media (max-width: 413px) {
      .footer .footLogo {
        right: 10px; } }
    @media (max-width: 374px) {
      .footer .footLogo {
        position: static;
        margin: 0;
        margin-top: 15px;
        width: 100%; } }
  .footer .socialLink {
    float: right; }
    @media (max-width: 374px) {
      .footer .socialLink {
        float: none;
        display: inline-block;
        margin: 10px auto; }
        .footer .socialLink:before, .footer .socialLink:after {
          content: "";
          display: table; }
        .footer .socialLink:after {
          clear: both; } }
    .footer .socialLink li {
      float: left;
      margin-top: 80px;
      margin-right: 20px; }
      @media (max-width: 413px) {
        .footer .socialLink li {
          margin-right: 10px;
          margin-top: 94px; } }
      @media (max-width: 374px) {
        .footer .socialLink li {
          margin-top: 0; } }
    .footer .socialLink img {
      height: 40px;
      width: 40px;
      display: block; }
      @media (max-width: 413px) {
        .footer .socialLink img {
          height: 35px;
          width: 35px; } }
