@import 'reset';
@import 'grid';
@import 'mixin';
@import 'layout';
@import 'variables';

a{
	display: block;
	text-decoration: none;
	color: inherit;
}
body{
	font-size: $ft-m;
	font-family: $ft_chi;
	line-height: 1.05;
}
.wrap{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}
.header{
	width: 100%;
	height: 56px;
	background-color: rgb(0, 0, 0);
	position: relative;
	@include i-pad{
		position: fixed;
		z-index: 100;
	}
	h1{ @include hide-text;
		display: inline-block;
		img{
			width: 120px;
			height: 24px;
			float: left;
			margin-left: 42px;
			margin-top: 16px;

		}
	}
	.menu{
	float: right;
	font-size: $ft-xl;
	margin-top: 18px;
	margin-right: 18px;
	@include i-pad{
		margin-top: 0;
		max-height: 0;
		overflow: hidden;
		float: none;
		position: fixed;
		width: 100%;
		top: 56px;
		z-index: 100;
		@include transition(all,.7s,ease);
	};
	li{
		float: left;
		margin-right: 30px;
		&:hover{
			color:$btn-color;
		}
		@include i-pad{
			width: 100%;
			margin-right: 0;
			float: none;
			z-index: 10;
			padding: 15px;
			background-color: rgb(5, 5, 5);
			background-color: rgba(5, 5, 5, 0.85);
			border-bottom: 1px solid rgb(150, 150, 150);
			&:hover{
				@include transition(all,.7s,ease);
				background-color: rgba(240, 168, 12, 0.8);
			}
		}
	};
	}
	#mobileMenuLogo{
		@include links(rgb(235, 162, 4));
		color: rgb(138, 143, 138);
		display: none;
		float: right;
		margin: 14px;
		font-size: 25px;
		&:active{
			color:rgb(235, 162, 4);
		}
		@include i-pad{
			display: block;
		}
	}
}
.open .menu{
	max-height: 1000px;
}

.banner{
	@include background('../imgs/header_desktop@2x.png');
	background-size: 100% 100%;
	width: 100%;
	height: 364px;
	text-align: center;
	position: relative;
	@include i-5-cross{
		@include background('../imgs/header_mobile@2x.png');
	};
	.bannerText{
		display: inline-block;
		width: 45%;
		min-width: 326px;
		padding: 25px;
		background-color: rgba(0,0,0,.35);
		margin-top: 110px;
		@include i-5-cross{
			margin-top: 140px;
		};
		@include i-6plus{
			width: 100%;
		};
		@include below-i-7{
		min-width: 0;
		};

		strong{
			font-size: $ft-xxl;
			display: block;
			margin-bottom: 16px;
		}
		p{
			font-size: $ft-l;
			margin-bottom: 5px;
		}
	}
}
.content{
}
.footer{
	position: relative;
	line-height: 1.4;
	color: $major-ft-color;
	font-size: $ft-xxl;
	letter-spacing: 1px;
	height: 165px;
	background: #EFE9E7;
	@include clearfix;
	@include below-i-5-cross{
		height: auto;
		text-align: center;
		width: 100%;
		padding: 2%;
	};
	.about{
		float: left;
		width: 30%;
   		margin: 26px 0 0 5%;
		@include i-pad{
			display: none;
		}
		h3{
			font-weight: bold;
			margin-bottom: 5px;
		}
		p{
			font-family: $ft_eng;
			font-size: $ft-m;
		}
	}
	.contact{
		float: left;
		margin: 26px 5px 0 20px;
		// @include below-i-5-cross{
		// 	margin-top: 41px;
		// };
		@include below-i-5-cross{
			float: none;
			margin: 0;
			width: 100%;
		};
		h3{
			font-weight: bold;
			margin-bottom: 5px;
		}
		ul{
			font-size: $ft-m;
		}
	}
	.footLogo{
		position: absolute;
		top: 35px;
		right: 6%;
		width: 245px;
		height: 47px;
		background-image: url(../imgs/logo_l.svg);
		background-size: cover;
		@include below-i-5-cross{
			position: static;
			margin: 15px auto 0 auto;
		};
	}
	.socialLink{
			float: right;
			margin-right: 3.6%;
			margin-top: 29px;
		@include below-i-5-cross{
			float: none;
			display: inline-block;
			margin: 10px 0 0 15px;
			@include clearfix;
		};
		li{
			float: left;
			margin-top: 80px;
			margin-right: 20px;
			@include below-i-5-cross{
				margin-top: 0;
			};
		}
		img{
			height: 36px;
			width: 36px;
			display: block;	
		}

	}
}